<template name="template">
	<div id="template">
		<div id="banner" class="col-lg-12">
			<div id="banner-title" class="col-lg-6">
				<span>BOMENPASPOORT</span>
			</div>
			<div class="col-lg-6">
				<img src="/images/banner-logo-sittard-geleen.jpg" id="banner-logo">
			</div>
		</div>
		<div class="col-lg-12">
			<div id="text-template" class="col-lg-6">
				<div id="tree-info-item-first" class="col-lg-12">
					<span class="col-lg-6">Paspoortnummer</span>
					<span class="col-lg-6" id="js-paspoortnummer"></span>
				</div>
				<div class="tree-info-item col-lg-12">
					<span class="col-lg-6">Straatnaam</span>
					<span class="col-lg-6" id="js-straatnaam"></span>
				</div>
				<div class="tree-info-item col-lg-12">
					<span class="col-lg-6">Woonplaats/wijk</span>
					<span class="col-lg-6" id="js-woonplaats"></span>
				</div>
				<div class="tree-info-item col-lg-12">
					<span class="col-lg-6">Boomsoort</span>
					<span class="col-lg-6" id="js-boomsoort"></span>
				</div>
				<div class="tree-info-item col-lg-12">
					<span class="col-lg-6">Aantal</span>
					<span class="col-lg-6" id="js-aantal"></span>
				</div>
				<div class="tree-info-item col-lg-12">
					<span class="col-lg-6">Terrein</span>
					<span class="col-lg-6" id="js-terrein"></span>
				</div>
				<div class="tree-info-item col-lg-12">
					<span class="col-lg-6">Monumentaal</span>
					<span class="col-lg-6" id="js-monumentaal"></span>
				</div>
				<div id="tree-info-item-last" class="col-lg-12">
					<span class="col-lg-6">Waardevol</span>
					<span class="col-lg-6" id="js-waardevol"></span>
				</div>
			</div>
			<div id="map-template" class="col-lg-6"></div>
		</div>
		<div id="photo-block" class="col-lg-12">
			<div id="photo-1-block" class="col-lg-6"></div>
			<div id="photo-2-block" class="col-lg-6"></div>
		</div>
	</div>
</template>