#template {width:1100px;margin-left:auto;margin-right:auto;font-family:verdana;font-size:18px;}
#text-block {background-color:#E3F5DF;}
.tree-info-item {margin-top:10px;margin-bottom:10px;}
#tree-info-item-first {margin-top:20px;margin-bottom:10px;}
#tree-info-item-last {margin-top:10px;margin-bottom:20px;}

#photo-block {margin-top:20px;margin-bottom:20px;}
.img-pnr {width:100%;}